{deps, [{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "1.6.3"}}},
        {gpb, ".*", {git, "git://github.com/tomas-abrahamsson/gpb.git", {tag, "3.26.4"}}}]}.

{pre_hooks, [%% Scheduler.
             {compile, "$(pwd)/deps/gpb/bin/protoc-erl -I$(pwd)/proto "
                       "-il -type -o-erl src -o-hrl include "
                       "-modprefix erl_mesos_ -modsuffix _proto "
                       "$(pwd)/proto/mesos/v1/scheduler/scheduler.proto"},
             %% Executor.
             {compile, "$(pwd)/deps/gpb/bin/protoc-erl -I$(pwd)/proto "
                       "-il -type -o-erl src -o-hrl include "
                       "-modprefix erl_mesos_ -modsuffix _proto "
                       "$(pwd)/proto/mesos/v1/executor/executor.proto"}
             ]}.
