{deps, [{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "1.3.2"}}},
        {gpb, ".*", {git, "git://github.com/tomas-abrahamsson/gpb.git", {tag, "3.18.10"}}}]}.

{pre_hooks,
    [{compile, "erl +B -noinput -pa /deps/gpb/ebin "
               "    -I`pwd`/proto -o-erl src -o-hrl include -modsuffix _protobuf -il"
               "    -s gpb_compile c `pwd`/proto/mesos/v1/scheduler/*.proto"}]}.

{post_hooks,
    [{clean, "bash -c 'for f in proto/mesos/v1/scheduler/*.proto; "
             "do "
             "    rm -f src/$(basename $f .proto)_protobuf.erl; "
             "    rm -f include/$(basename $f .proto)_protobuf.hrl; "
             "done'"}]}.
