{deps, [{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "1.3.2"}}},
        {gpb, ".*", {git, "git://github.com/tomas-abrahamsson/gpb.git", {tag, "3.22.2"}}}]}.


{plugins, [rebar3_gpb_plugin]}.

%% Because I had to add the dialyzer nowarn entries for mesos_state_overlay_pb
%% I do not run these manually
%% if you want to regenerate the protobuf:
%% ./rebar3 protobuf clean
%% ./rebar3 protobuf compile

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{gpb_opts, [
    il,
    {il, true},
    {i, "proto/"},
    {i, "proto/mesos/v1/scheduler"},
    {i, "proto/mesos/v1/executor"},
    {i, "proto/mesos/v1/"},
    {module_name_suffix, "_protobuf"},
    {msg_name_to_lower, true},
    {strings_as_binaries, true},
    type_specs,
    strings_as_binaries
]}.

